$text-color = rgba(0, 0, 0, .5);
$orange-icon-color = #ff8113;
$orange-title-color = #ff4700;

.ant-notification
	width: 280px

.ljit-client-notification
	padding: 15px 18px

	.ljit-notification__description
		color: $text-color
		font-size: 12px
		margin-top: 8px

	&--theme-orange
		.ljit-notification__icon
			color: $orange-icon-color

		.ljit-notification__title
			color: $orange-title-color
