.lottery-general-drawing
	.lottery-drawing-main-page
		.ant-tabs-bar
			margin-top: 46px
			min-height: 70vh

		.ant-tabs
			.ant-tabs-left-content
				border-left: none

		.lottery-class-select
			display: flex
			margin: 0px

		.header-button-bar
			margin-bottom: 12px

		.lottery-drawing-setting
			&__lottery-class-select
				width: 160px

			&__update-period-select
				display: inline-block
				width: 94px

		.lottery-drawing-table
			overflow: scroll
			border-bottom: 1px solid #e8e8e8

			&__opened-at-column
				line-height: 24px

			&__sum-column
				min-width: 56px

			&__operation-column
				white-space: nowrap
				min-width: 56px

			&--load-button
				margin: 22px auto
				display: block
				line-height: 22px

			.ljit-tag
				width: 108px
				padding: 0 5px
				min-height: 22px
				line-height: 20px
