.xin-yong-betting-card-square-sample
	width: 285

	.ljit-xin-yong-betting-card__title
		background: rgb(255, 255, 255)
		color: rgb(174, 174, 174)

	.ljit-xin-yong-betting-card__content
		border: none

	.ljit-row
		> div
			width: calc(25% - 10px)
			margin: 5px
			height: 50px
