.customer-service-task
	&__block
		background-color #ffffff
		min-height 178px
		&_margin
			margin-top 24px
	&__menu
		padding-left 16px
		.ant-menu-item
			padding-right 30px
	&__col
		display flex
		padding-top 40px
	&__input
		width 264px
	&__label
		display flex
		padding 0 24px 0 35px
	&__section
		padding 0 24px 0 24px
