.system-setting-role
	&__input-search
		margin-left: 8px
		width: 272px
	.header-button-bar
		margin-bottom: 24px
	.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr
		> td
			padding: 15px 8px 16px

		&:last-child > td
			border-bottom: 1px solid #e8e8e8

.role-setting-modal
	.ant-modal-body
		padding: 38px 72px
	.ant-form-item-label
		padding-right: 10px
	.ant-form-item
		margin-bottom: 16px
	.ant-form-item-required::before
		display: none
	.ljit-input,
	.ljit-form-select
		width: 200px
	.ljit-input-textarea
		width: 368px
