.ip-login-log
	&__block
		padding-bottom 16px

.backstage-log
	&__col
		display flex
	&__label
		display flex
		padding 0 24px 0 0
	&__remindtext
		position relative
		bottom 60px
		font-size 14px
		line-height 1.57
