.ljit-xin-yong-betting-group
	width: 100%
	margin-bottom: 4px
.ljit-xin-yong-betting-group-row
	display: flex
	flex-direction: row
	.ljit-xin-yong-betting-card
		margin: 4px
		justify-content: space-between
