.company-report-summary
	&__search-form
		.ant-form-item
			margin-bottom: 0
	&__system-profit
		.page-block__content
			display: flex
			align-items: center
		.ant-statistic
			text-align: center
		&-symbol
			font-size: 30px
			font-weight: bolder
			color: #5cb0ff
			margin: 20px 36px 0 36px
	&__cards
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		margin: 30px 0
		.ant-card
			width: 24%
			margin-top: 12px
		.ant-statistic-content
			display: flex
			align-items: center
		.ant-statistic-content-prefix
			color: #5cb0ff
			font-size: 20px
	&__table
		&-header
			display: flex
			justify-content: space-between
			margin-bottom: 44px
