.ljit-client-tab-label-selector
	.ant-form-item-children
		display: block

	.ljit-label-selector__item
		display: flex
		align-items: center
		justify-content: center
		background-color: #e4e4e4
		padding: 7px 4px
		border-top-left-radius: 6px
		border-bottom-left-radius: 6px
		margin-bottom: 5px
		width: 20px
		.ljit-tag
			writing-mode: vertical-rl
			font-size: 12px
			padding 0

	.ljit-label-selector__item--active
		background-color: #ff8113
		.ljit-tag
			color: #fff
