.ljit-notification
	&--has-icon
		.ant-notification-notice-message
			margin: 0 0 0 8px

		.ant-notification-notice-description
			margin-left: 0

	&__icon
		display: inline-block

	&__description
		margin-top: 8px
