.xin-yong-bet-lottery-play
	display: flex
	overflow: hidden

	> .ljit-check-selector
		background: rgb(245,245,250)

		> ul
			margin: 0
			border: 0
			min-width: 90px
			overflow: scroll

	&__content
		width: 100%
		overflow: scroll

