.external-game-setting-page
	.platform-setting-header-bar
		margin-bottom 24px
		&__input-search
			display: inline-block
			width: 272px
			margin-left: 16px

	.modify-text-button
		min-width 28px

.external-game-setting-form
	.ljit-form-select
		^[-1]__input
			&, &.ant-select
				width: 397px
