doctype html
html(lang="zh-TW")
	head
		block head_meta
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width, initial-scale=1")
			meta(name="description", content="")
			meta(name="author", content="")

		block head_title
			title MJ management

		block head_style
	body
		#wrapper
			#page-wrapper
				block body_content

		block body_scripts
