.xin-yong-odds
	.ant-tabs-bar
		margin-top: 46px
		min-height: 70vh

	.ant-tabs
		.ant-tabs-left-content
			border-left: none

	&-header
		margin-left: 99px

		.header-button-bar__pool:first-child
			.header-button-bar__item
				display: flex
				.lottery-class-select,
				.lottery-select
					display: flex
					margin-bottom: 0px
					.ljit-form-select
						width: 160px
				.lottery-select
					margin-left: 24px
		.header-button-bar__pool:nth-child(2)
			.ljit-btn
				width: 80px

	&-edit
		&__button
			margin-bottom: 24px
		.page-block__content
			padding: 24px
			text-align: right
			> .ljit-btn
				width: 80px
		.xin-yong-odds-table
			margin-left: 100px
			margin-right: 80px

			&__container:first-child
				margin-top: 0

	&-table
		&__container
			margin-top: 24px
			margin-right: 24px
		&__name
			margin-bottom: 8px
			text-align: left
			height: 22px
			font-size: 14px
			line-height: 1.57
			letter-spacing: normal
			color: rgba(0, 0, 0, 0.85)
		&__content
			display: flex
			flex-wrap: wrap
	&-slot
		border: 1px solid #e9e9e9
		padding: 6px 8px
		box-sizing: border-box
		display: flex
		align-items: center
		justify-content: space-between
		min-width: 220px
		width: calc(25% - 10px)
		margin-right: 10px
		margin-bottom: 12px

		&__name
			flex-shrink: 0
			border-radius: 5px
			width: 61px
			height: 27px
			line-height: 27px
			text-align: center
			background-color #e4e4e4
			margin-right: 8px
		&__value
			flex-grow: 1
			text-align: center
		&__percent
			color: #6dd400
		.ant-input-number
			height: 27px
			width: auto
			.ant-input-number-handler-wrap
				display: none
			input
				height: 27px
		&__options
			flex-shrink: 0
			> div
				text-align: left
				margin-left: 10px
			&-text
				width: 56px
				height: 21px
			span
				padding-right: 0
