.contorl-center-betting-record
	padding: 20px 12px 24px 12px
	.ljit-form
		display: flex
		align-items: center
		margin-bottom: 20px
		margin-left: 3px

		.ant-form-item-control,
		.ant-form-item-label,
		.ant-input,
		.ant-select-selection,
		.ant-select-selection__rendered,
		.ant-calendar-range-picker-input,
		.ant-btn
			line-height: 28px
			height: 28px
			padding-top: 0
			padding-bottom: 0

		.ljit-select-dropdown-form-item,
		.ljit-form-label:not(.ljit-select-dropdown-form-item__form-item)
			display: flex
			margin-right: 15px
			margin-bottom: 0px

			.ljit-input:not(.ljit-select-dropdown-form-item__input),
			.ljit-form-select:not(.ljit-select-dropdown-form-item__select-dropdown)
				width: 104px
			.ljit-daterange-picker-client
				.ant-input
					width: 204px
					input
						width: 80px
						text-overflow: ellipsis
						overflow: hidden

	.ljit-btn
		font-size: 16px
		font-weight: 600

	.ljit-table
		min-width: 992px
		.ant-table-filter-dropdown-link
			color: #ff8113

	&__table-item
		cursor: pointer
		&--issue
			color: #ff8113
		&--id
			font-size: 10px
