.ljit-recharge-and-withdrawal-log
	padding: 20px 12px 24px 12px

	.ljit-form
		display: flex
		align-items: center
		margin-left: 3px
		margin-bottom: 20px

		.ant-form-item-control,
		.ant-form-item-label,
		.ant-input,
		.ant-select-selection,
		.ant-select-selection__rendered,
		.ant-calendar-range-picker-input,
		.ant-btn
			line-height: 28px
			height: 28px
			padding-top: 0
			padding-bottom: 0
		.ant-input
			padding-left: 12px
			padding-right: 8px

		.ljit-form-label
			display: flex
			margin-right: 15px
			margin-bottom: 0px

			.ljit-input,
			.ljit-form-select
				width: 104px

		.ljit-btn
			width: 68px
			font-weight: 600
			font-size: 16px
