$font-color = #000000
$link-font-color = rgba(0,0,0,.3)
$separator-gutter = 5px

.ljit-user-breadcrumb
	font-size: 14px
	line-height: 1.57

	&__crumb
		color: $font-color
		&--active
			cursor: pointer
			color: $link-font-color
			&:hover
				color: rgba(0,0,0,.2)
			&:active
				color: rgba(0,0,0,.45)
		&--omit
			color: $link-font-color

	&__current-count
		color: $font-color

	&__separator
		color: $link-font-color
		margin-left: $separator-gutter
		margin-right: $separator-gutter
