.ljit-sidebar-tabs

	.ant-tabs-bar
		padding-top 54px

		.ant-tabs-tab
			padding 0px 0px

			&-active

				.tab-padding
					color #1890ff

	.tab-control
		padding 0px

	.tab-padding
		height 100%
		padding 0px 24px
		color rgba(0,0,0,.65)
