.betting-record-details-modal
	.ljit-input-textarea
		color: #222222

	.ljit-label
		margin-bottom: 0
		> .ant-form-item-label
			display: flex
			max-width: 72px
			> label
				font-size: 14px
				font-weight: 500
				color: #b2b2b2

	&__section
		padding-left: 34px
		padding-right: 45px

		&:last-child
			margin-bottom: 24px
