.ljit-icon-selector
	display: inline-flex
	flex-wrap: wrap

	&--vertical-direction
		flex-direction: column

	&__item
		display: inline-flex
		text-align: center
		padding: 5px 0px

		&--icon-right-side
			flex-direction: row-reverse

		&--icon-up-side
			flex-direction: column

		&--icon-down-side
			flex-direction: column-reverse

		&--active
		&:hover
			color: #fc9327

