.transaction-log
	padding: 20px 12px 24px 12px

	.ljit-form
		display: flex
		align-items: center
		margin-bottom: 20px
		margin-left: 3px

		.ant-form-item-control,
		.ant-form-item-label,
		.ant-input,
		.ant-input-number,
		.ant-input-number-input,
		.ant-select-selection,
		.ant-select-selection__rendered,
		.ant-calendar-range-picker-input,
		.ant-btn
			line-height: 28px
			height: 28px
			padding-top: 0
			padding-bottom: 0

		.ljit-input-number
			.ant-input-number-handler-wrap
				display: none

		.ljit-form-label
			display: flex
			margin-right: 15px
			margin-bottom: 0px

			.ljit-input-number,
			.ljit-form-select
				width: 104px

		.ljit-btn
			font-size: 16px
			font-weight: 600

	.ljit-table
		min-width: 992px

		.ljit-text-button
			color: #ff8113
