$orange-color = #ff8113
$grey-color = #c0c0c0
$modal-header-padding = 12px
$modal-body-padding = 0
$modal-footer-padding = 8px
$modal-title-color = #222
$modal-title-size = 18px
$modal-title-size-weight = 600
$modal-button-text-size = 16px
$modal-button-text-weight = 600

.ljit-submit-form-modal
	.ant-modal-header
		padding: $modal-header-padding

	.ant-modal-body
		padding: $modal-body-padding

	.ant-modal-title
		color: $modal-title-color
		font-size: $modal-title-size
		font-weight: $modal-title-size-weight

	.ant-modal-close
		display: none

	.ant-modal-footer
		padding: $modal-footer-padding

		button
			width: 84px
			height: 32px
			padding: 0 6px
			font-size: $modal-button-text-size
			font-weight: $modal-button-text-weight

	&__btn-cancel
		&,
		&:focus,
		&:hover,
		&:active
			border-color: inherit
			color: $grey-color
			border-color: $grey-color

	&__btn-ok
		&,
		&:focus,
		&:hover,
		&:active
			background-color: $orange-color
			border-color: $orange-color

	.ant-input,
	.ant-input-number,
	.ant-select-selection
		&-focused,
		&:focus,
		&:hover
			border-color: $orange-color
			box-shadow: 0 0 0 2px rgba(255, 129, 19, 0.2)

	.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled)
		border-color: $orange-color

	.ljit-radio-group
		.ljit-radio
				&:hover
					.ant-radio-inner
						border-color: $orange-color

				.ant-radio-checked
					&::after
						border: 1px solid $orange-color
					.ant-radio-inner
						border-color: $orange-color
						&::after
							background-color: $orange-color

	.ant-switch-checked
		background-color: $orange-color
