.ljit-mobile-bottom-drawer

	.ant-drawer-header
		border-radius: 20px 20px 0 0
		text-align: center

	.ant-drawer-content-wrapper, .ant-drawer-content
		border-radius: 20px 20px 0 0

	.ant-drawer-body
		padding: 0
