.ljit-layout
	min-height 100vh

.ljit-layout-header
	position: relative
	z-index: 5;
	padding: 0 24px
	background-color: #FFF
	box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);

.ljit-layout-content
	min-height: calc(100vh - 212px)
	padding: 0px
	margin: 0px
	background-color: #f0f2f5
