.lottery-general-play
	&__info
		.page-block__content
			> .header-button-bar
				padding-bottom: 20px
				border-bottom: 1px solid #e8e8e8
		&-select
			display: flex
			margin: 0px
			.ljit-form-select
				width: 160px
		&-tab
			margin-top: 32px
		.ant-tabs-bar
			padding-top: 4px
		.ant-tabs
			.ant-tabs-left-content
				border-bottom: 1px solid #e8e8e8

	.lottery-play-search-form
		.ljit-form
			position: relative
			> div
				&:first-child
					display: grid
					grid-template-columns: repeat(3, 1fr)
					margin-bottom: 12px
				&:last-child
					position: absolute;
					bottom: 12px;
					right: 0;
					.ljit-btn
						padding: 5px 18px
						&:first-child
							margin-right: 16px
			&-label
				display: flex
				margin-bottom: 12px
				width: 100%
				justify-content: flex-end
				.ant-col:first-child
					width: 56px
				.ant-form-item-control-wrapper
					min-width: 220px
					width: 80%

	&__edit-button
		width: 100%;
		text-align: right;
		margin-bottom: 12px
		.ljit-btn
			padding: 5px 26px

	&__edit
		> .ljit-btn
			margin-bottom: 24px
		.table-checkbox-title
			width: 160px
		.header-button-bar__item
			margin-bottom: 12px
			.ljit-btn
				padding: 5px 26px
