.ljit-dividend-table-form
	&__range-input-wrapper
		display: flex
		justify-content: center
		align-items: center
		> div
			width: 30%
	.ant-input-number-input
		text-align: center

	.ljit-input-dynamic-table__button--delete-row
		color: #595959
		border: 1px solid #d8d8d8
