&:hover
	.ant-calendar-picker:hover,
	.ant-calendar-picker-input:not(.ant-input-disabled)
		border-color: $THEME-DATE-RANGE-PICKER-MAIN-COLOR
&:focus
	.ant-calendar-picker:focus
	.ant-calendar-picker-input:not(.ant-input-disabled)
		border-color: $THEME-DATE-RANGE-PICKER-MAIN-COLOR
		box-shadow: 0 0 0 2px $THEME-DATE-RANGE-PICKER-BOX-SHADOW-COLOR 
.ant-input
	&:hover
		border-color: $THEME-DATE-RANGE-PICKER-MAIN-COLOR
	&:focus
		border-color: $THEME-DATE-RANGE-PICKER-MAIN-COLOR
		box-shadow: 0 0 0 2px $THEME-DATE-RANGE-PICKER-BOX-SHADOW-COLOR 
