.ljit-long-hu-he
	background-color: #fff
	width: 900px
	min-height: 304px
	box-sizing: border-box
	padding: 40px 20px
	display: flex
	line-height: 84px

	&__title
		margin-right: 28px

	&__ball-style
		margin-right: 26px
		width: 80px
		height: 80px
		cursor: pointer

		& .ljit-icon--default
			width: 80px
			height: 80px

			> svg
				width: 80px
				height: 80px
				border-radius: 50%
