.component-chain
	display: flex
	justify-content: space-between
	.data-inline-list__list-item
		flex: 1 1
		position: relative
		&:after
			content: ''
			width: 1px
			height: 24px
			background-color: rgb(240, 240, 240)
			position: absolute
			top: 0
			bottom: 0
			right: 0
			margin: auto
		&:last-child
			&:after
				display: none
