.custom-tree-sample
	&.ljit-tree
		> .ljit-tree_tree-node
			display: block
			> span.ant-tree-switcher
				display: none
			> span.ant-tree-checkbox
				display: none
			> span.ant-tree-node-content-wrapper
				font-size: 16px
				font-weight: 500
				color: #000000
		.ljit-tree_tree-node
			 line-height: 20px

.tree-title-item
	display: flex
	&__select
		padding: 3px 0 0 15px
		.ant-select-selection
			width: 64px
			height: 20px

