.inline-form-label
	margin-bottom: 0

.level-group
	.ant-checkbox-wrapper
		margin-right: 8px
		margin-left: 0
		margin-bottom: 16px

.recharge-button-bar
	margin-bottom: 17px
	margin-top: 37px

.collection-type-form-item

	label:after
		display none

.cash-system-third-party-account
	.ljit-input-group-compact
		.ljit-input
			.ant-input
				border-left: 0

	.redirect-address
		color: #1890ff

	.ljit-collapsable-form-reset-btn,
	.ljit-collapsable-form-search-btn
		margin-right: 12px

	&__recharge-payment-service-modal
		.ljit-checkbox-group
			display: grid
			grid-template-columns: repeat(5, 1fr)
			.ant-checkbox-wrapper
				margin: 9px 0 7px 0
				white-space: nowrap

		.ljit-form-label
			margin-bottom: 16px

			&--no-margin
				margin: 0

		.with-percent-input-number
			position: relative
			&::after
				content: '%'
				position: absolute
				right: -20px
				top: 4px
