.drawing-betting-long-tab
	width 253px

	.ant-tabs-content
		border 1px solid #e8e8e8
		height 180px
		overflow-y auto
		overflow-x hidden

	.ant-tabs-bar
		margin 0px
		height 32px

		> .ant-tabs-nav-container
			> .ant-tabs-nav-wrap
				> .ant-tabs-nav-scroll
					> .ant-tabs-nav
						> div
							> .ant-tabs-tab
								height 32px
								line-height 30px

	&__drawing-tab
		max-width 253px

		.ant-tabs-nav
			width 100%

			> div
				display flex

		.ant-tabs-bar
			border 1px solid #e8e8e8

			> .ant-tabs-nav-container
				> .ant-tabs-nav-wrap
					> .ant-tabs-nav-scroll
						> .ant-tabs-nav
							> div
								> .ant-tabs-tab
									margin 0px auto
									padding 5px 0px 5px 0px
									height 32px
									line-height 21px
