.ljit-slider-bar
	display: flex
	align-items: center
	font-size: 12px

	&__slider
		flex-basis: 222px
		margin: 10px 6px 10px

	&__number
		max-width: 71px
		margin-left: 17px

	&__suffix
		margin-left: 8px
