.betting-long-list-item
	border-left 0
	border-right 0

	> div
		display inline
		padding 0px
		font-size 14px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height normal
		letter-spacing normal

		::after
			clear both

	&__wrapper
		max-height 218px

		> div
			border-top: 0

	&__ball
		float left
		margin 6px 0px 6px 24px
		color #222222

	&__issues
		float right
		margin 6px 40px 6px 0px
		color #646464
