label-style()
	color: #9f9f9f
	font-weight: 500

.agent-wage-modal
	.ant-modal-body
		padding: 20px 68px 37px 68px

		.ljit-label
			display: flex
			align-items: center
			margin-bottom: 20
			.ant-form-item-label
				> label
					label-style()
					&::after
						margin: 0px 10px

		.ljit-form-label
			margin-bottom: 15px
			.ant-form-item-label
				line-height: normal
				> label
					label-style()

	&__select
		width: 304px
