.drawing-list-item
	border-left 0
	border-right 0

	> div
		padding 0px

	&__wrapper
		max-height 187px

		> div
			border-top 0

	&__issue
		margin 4px 8px
		font-size 10px
		font-weight normal
		font-style normal
		font-stretch normal
		line-height normal
		letter-spacing normal
		color #9f9f9f

	&__drawings
		margin 4px 8px
		display flex

	&__ball
		margin 0px 2px

	&__no-draw
		text-align center
		margin-top 5px
