.ljit-xin-yong-page
	display: flex
	position: relative
	.ljit-xin-yong
		&-betting-group-row
			margin: 0 -4px
		&-betting-checkout
			width: 100%
			margin-bottom: 17px
	.betting-record-tab
		margin-top: 6px
	.ljit-xin-yong-play-slot-line__odds
		width: 46px
