$dashboard-row-width = 288px
$dashboard-row-gutter = 24px

.dashboard
	width: 100%
	max-width: 1224px
	padding-top: 37px
	margin: 0 auto

	&__row + &__row
		margin-top: 39px

	&__col
		flex: 1

		&--fixed-width
			flex: none
			width: $dashboard-row-width + $dashboard-row-gutter

	&__footer
		width: 100%
		max-width: 400px
		margin: 92px auto 34px
		text-align: center

	&__lotteries-list
		.dashboard-block__content--small
			height: 660px
			width: 100%
			padding: 0

	// TODO when betting-long feature is done, remove it.
	.betting-long__lists
		height: auto !important
