.component-block
	&__title
		border-bottom: 2px solid #CCC
		font-size 18px
		font-weight: 500
		color #333

	&__content
		padding: 20px

	&__item + &__item
		margin-top 20px

	& + &
		margin-top 20px
