.official-account
	.ljit-form-button-row
		.ant-form-item
			margin-bottom: 0

	&__item
		margin-bottom: 40px

		&--last
			margin-bottom: 28px

		&--with-submit
			margin-bottom: 71px

		.ant-form-item-label
			> label
				&:after
					margin-right: 16px

	.upload-input-button
		i
			color: inherit
			opacity: .6

		button
			padding: 0 10px
