.lottery-odds-setting
	.ant-input-number-input
		text-align: center
	.ant-table-column-title
		white-space: nowrap
	.ant-tabs-bar
		margin-top: 80px
		min-height: 70vh
	.ant-tabs
		.ant-tabs-left-content
			border-left: none
	.selected-hint
		background: #e6f7ff
		height: 36px
		border-radius: 4px
		border: solid 1px #1890ff
		display: flex
		align-items: center
		padding: 7px 18px
		color: rgba(0, 0, 0, 0.65)
		transform: translateY(72px)
		&__number
			color: #1890ff
			margin: 0 5px
	.ljit-table
		.ant-form-item
			margin-bottom: 0
	.td-small-padding
		.ant-table-tbody
			tr
				td
					padding: 10px 16px
	.prize-number-percent
		margin-left: 10px
		&--editing
			position: absolute
			top: 6px
		&--nagetive
			color: #448224
		&--positive
			color: #f5222d
			::before
				content: '+'
	.margin-bottom--large
		margin-bottom: 68px
	.translate-top
		transform: translateY(-36px)
		.ant-tabs-bar
			margin-top: 124px

	.lottery-odds-lottery-class-select
		padding-bottom: 20px
		border-bottom: 1px solid #e8e8e8;

		&__label-content
			display: flex
			margin-bottom: 0px
		&__info-select
			.ant-select-selection
				width: 160px

	.lottery-odds-search-form
		margin-top: 20px
		&__form-item
			display: flex
			margin-bottom: 20px
		&__form-input
			width: 245px
		&__form-buttons
			button
				width: 64px
				& + button
					margin-left: 24px

	.lottery-odds-table
		margin-top: 24px

	.lottery-odds-edit-buttons
		margin-top: 24px

	&__page-modal
		.ant-form-item-children
			.ant-input-number.ljit-input-number
				width: 120px
