@import '../../../styling/constants/index';

$THEME-COLOR = $LIGHT_BLUE_1;

$THEME-HEADER-GRADIENT = $LIGHT_BLUE_GRADIENT_1;
$THEME-HEADER-TEXT-COLOR = $BLACK;

$THEME-PLAIN-Tabs-COLOR = $BLACK;
$THEME-PLAIN-Tabs-HOVER-COLOR = $LIGHT_BLUE_1;
$THEME-PLAIN-Tabs-ACTIVE-COLOR = $LIGHT_BLUE_1;

$THEME-XIN-YONG-BETTING-CARD-TITLE = $LIGHT_BLUE_2;

$THEME-INPUT-BORDER = $LIGHT_BLUE_2;
$THEME-INPUT-BORDER-BOX-SHADOW = $LIGHT_BLUE_2;

// date range picker
// TODO use blue constants
$THEME-DATE-RANGE-PICKER-MAIN-COLOR = $LIGHT_ORANGE_2;
$THEME-DATE-RANGE-PICKER-SUBBACKGROUND-COLOR = $LIGHT_ORANGE_3;
$THEME-DATE-RANGE-PICKER-TAG-COLOR = $LIGHT_ORANGE_4;

$THEME-DATE-RANGE-PICKER-BOX-SHADOW-COLOR = $SHADOW_ORANGE_1;

$THEME-DATE-RANGE-PICKER-BUTTON-DISABLED-BACKGROUND = $LIGHT_GEAY_1;
$THEME-DATE-RANGE-PICKER-BUTTON-DISABLED-BORDER = $LIGHT_GRAY_2;

@import '../../../styling/with-css-module/index.styl';
