@import '../../../styling/constants/index';
$THEME-COLOR = $LIGHT_ORANGE_1;

$THEME-HEADER-GRADIENT = $LIGHT_ORANGE_GRADIENT_1;
$THEME-HEADER-TEXT-COLOR = $WHITE;

$THEME-PLAIN-Tabs-COLOR = $GREY-1;
$THEME-PLAIN-Tabs-HOVER-COLOR = $LIGHT_ORANGE_1;
$THEME-PLAIN-Tabs-ACTIVE-COLOR = $LIGHT_ORANGE_1;

$THEME-XIN-YONG-BETTING-CARD-TITLE = $LIGHT_ORANGE_3;

$THEME-INPUT-BORDER = $LIGHT_ORANGE_2;
$THEME-INPUT-BORDER-BOX-SHADOW = $SHADOW_ORANGE_1

// date range picker
$THEME-DATE-RANGE-PICKER-MAIN-COLOR = $LIGHT_ORANGE_2;
$THEME-DATE-RANGE-PICKER-SUBBACKGROUND-COLOR = $LIGHT_ORANGE_3;
$THEME-DATE-RANGE-PICKER-TAG-COLOR = $LIGHT_ORANGE_4;

$THEME-DATE-RANGE-PICKER-BOX-SHADOW-COLOR = $SHADOW_ORANGE_1;

$THEME-DATE-RANGE-PICKER-BUTTON-DISABLED-BACKGROUND = $LIGHT_GEAY_1;
$THEME-DATE-RANGE-PICKER-BUTTON-DISABLED-BORDER = $LIGHT_GRAY_2;

@import '../../../styling/with-css-module/index.styl';

