// TODO: 正式上線的時候找 PM 確認下級狀態頁面的檔案還需不需要保留
.ljit-children-status-page
	padding: 20px 12px 24px 12px
	.ljit-form
		display: flex
		align-items: center
		margin-bottom: 20px
		margin-left: 3px

		.ant-form-item-control,
		.ant-form-item-label,
		.ant-input,
		.ant-calendar-range-picker-input,
		.ant-btn
			line-height: 28px
			height: 28px
			padding-top: 0
			padding-bottom: 0

		.ljit-form-label
			display: flex
			margin-right: 15px
			margin-bottom: 0px

			.ljit-input
				width: 104px

		.ljit-btn
			width: 68px
			font-size: 16px
			font-weight: 600

	&__status--limit
		color: #f5222d
