.standard-betting-checkout-feature
	width 100%

	> div
		height 118px
		padding 8px 12px

	&__button-row
		margin 8px 0px

	.standard-betting-checkout-feature__trace-button
		width 112px
		margin 0px 4px 0px -3px
		font-weight 600

	.standard-betting-checkout-feature__bet-button
		width 112px
		margin 0px -3px 0px 4px
		font-weight 600

	&--count
		color #16a5ae

	&--amount, &--balance , &--prize
		color #b570ac
