.announcement-marquee
	&__table

		.marquee-table
			margin 24px 0px

		.marquee-ellipsis-text
			margin 0 auto

	&__form
		.level-checkbox
			max-width 435px
			width 50%

			.ant-checkbox-wrapper
					margin-right: 8px
					margin-left: 0
					margin-bottom: 16px
