.user-report-betting-records

	&__search-form
		position: relative

		.remind-text
			position: absolute
			bottom: 4px
			font-size: 14px

	.betting-table
		margin-top 24px

	.betting-expandrow
		p
			margin 8px 0px

	.ant-col-8.ljit-collapsable-form-col:nth-child(3n+1)
		.ant-form-item-label
			width: auto
