.external-platform-content
	.platform-content-header-bar
		margin-bottom 24px

	.platform-select
		display flex
		margin 0

	.upload-form-item
		.ant-upload-list
			width 236px

	.ant-tabs-bar
			margin-top: 64px
			min-height: 70vh
		.ant-tabs
			.ant-tabs-left-content
				border-left: none

.game-order-form-modal
	.ant-modal-close
		display: none
