.banks-page
	background: #fff
	height: 100%
	overflow: scroll
	scroll-snap-type: block mandatory

	&__bank-cards
		border-top: 1px solid rgb(240, 240, 240)

	.ljit-mobile-bank-card-item
		scroll-snap-align: start

	> .ljit-btn
		display: block
		margin: 30px auto
		width: 102px
