.member-cardbind-page
	.header-button-bar
		margin-bottom: 29px
	&__form-modal
		.ljit-input
			width: 293px
		.ant-form-item-required::before
			display: none

	&__table
		.ljit-text-button
			display: block
			margin: auto
