.ljit-client-game-explain
	&__operation
		min-width 73px
	&__setting-form
		.ljit-input,
		.ljit-input-textarea
			width: 516px

	.game-description-table
		margin-top 24px
		border-bottom: 1px solid #e8e8e8

		.description-text
			margin 0 auto

	&__search-form
		.ljit-form
			> div
				&:first-child
					display: grid
					grid-template-columns: repeat(3, 1fr)
					margin-bottom: 20px
					grid-column-gap: 20px
				&:last-child
					text-align: right
					bottom: 12px;
					right: 0;
					.ljit-btn
						width: 66px
						&:first-child
							margin-right: 16px
			&-label
				display: flex
				margin-bottom: 0px
				width: 100%
				justify-content: flex-end
				.ant-col:first-child
					width: 70px
				.ant-form-item-control-wrapper
					min-width: 250px
					width: 80%
			.ljit-daterange-picker
				width: 100%

.game-description-setting-modal-form-item
	display flex
	margin-bottom 16px

	label
		width 5em
