.ljit-closable-tag
	position relative
	height auto
	min-height: 24px
	min-width 106px
	padding-left: 16px
	padding-right: 16px
	border-radius: 4px
	background-color: #efefef
	line-height: 24px
	font-size: 14px
	text-align: center
	width: 75px

	&--closed
		padding-right: 36px

	&.ant-tag
		.anticon-close
			position: absolute
			top: 50%
			right: 6px
			margin-left: 0
			font-size: 14px
			color: #595959
			transform: translateY(-50%)
