.conversion-result
	&__header
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 10px
		&-action
			color: #1890ff
			font-size: 14px
			border: none
			box-shadow: none
	&__cards
		display: flex
		justify-content: space-between
		margin: 30px 0
		.ant-card
			width: 24%
		.ant-statistic-content
			display: flex
			align-items: center
		.ant-statistic-content-prefix
			color: #5cb0ff
			font-size: 20px
	&__item
		&--align-start
			.ant-form-item-label
				width: auto
		&--align-middle
			.ant-form-item-label
				width: 20%
