.ljit-text-button
	display inline-block
	padding 0
	border none
	background-color transparent
	outline 0
	&:hover
		cursor pointer

	&:disabled
		color #bfbfbf
		cursor not-allowed
		color: #bfbfbf
		opacity .8

	&--default
		color #268DFF

	&--danger
		color: #F5222D
	&--text-small
		font-size: 10px
	&--text-medium
		font-size: 14px
	&--weight-normal
		font-weight: normal
	&--weight-heavy
		font-weight: 500

