.ljit-betting-element-input
	&__weizhi-block
		padding: 20px 24px
		background-color #fff
		&--mobile
			padding: 20px 0
			background-color #fff
			&.ljit-betting-weizhi-block
				display: block
				padding-left: 20px
				.ant-checkbox-wrapper
					width: calc((100% - 12px) / 5)
					display: inline-block
					padding-top: 16px
					+ .ant-checkbox-wrapper
						margin-left: 0