.lottery-plays
	.ant-form-item-label
		width: auto
	.block-header
		margin-bottom: 24px
		.remind-text
			margin-top: 0
	thead > tr > th .ant-table-column-sorters
		display: inline-block
		margin-bottom: -5px
.lottery-plays-details
	.btn-forward
		display: inline-block
		margin-bottom: 24px
	.sub-title
		color: #333
		font-size: 14px
	.block-header
		margin-bottom: 24px
		> div:last-child
			align-self: flex-end
	.action
		margin-left: auto