.betting-basket-record-tab
	width: 253px

	.ant-tabs-bar
		height: 32px

		> .ant-tabs-nav-container
			> .ant-tabs-nav-wrap
				> .ant-tabs-nav-scroll
					> .ant-tabs-nav
						> div
							> .ant-tabs-tab
								padding: 0px
								height: 32px
								line-height: 30px
	.ljit-badge
		.ant-badge-count
			box-shadow: none
	.ljit-panel__footer
		text-align: left
