.ljit-collapsable-form-search-btn {
    margin-top: 5px;
    margin-left: 12px;
}

.ljit-collapsable-form-reset-btn {
    margin-top: 5px;
    margin-left: 12px;
}

.ljit-collapsable-form-collapse {
    margin-left: 12px;
    font-size: 12;
}
