.statistic-block
	margin 24px 0px

	.statistic-row
		margin 12px 0px

//adjust icon vertical position, vertical-align -.125em default
.icon-container
	i
		vertical-align .125em

.red-value-text

	.ant-statistic-content-value
		color #f5222d
