.betting-details-modal
	.ant-modal-body
		.ljit-table
			min-height: 260px
			.ant-table-body
				max-height: 407px
				overflow-y: auto
			th
				background: #eeeeee
				color: #646464
			td
				background: #f6f6f6
				color: #222222
				padding: 7px
		.ljit-icon
			color: #c0c0c0
			cursor: pointer
		.ant-table-small > .ant-table-content > .ant-table-body > table
			> .ant-table-tbody > tr > td
				padding: 2px 8px
		.ant-table-thead > tr:first-child
			> th:last-child
				border-top-right-radius: 0
			> th:first-child
				border-top-left-radius: 0
		.ant-input-number
			height: 28px
	.ant-input-number-input
		text-align: center
		height: 25px
	&__batch-edit
		padding: 18px 30px
		color: #646464
		.ljit-input-number
			margin-right: 24px
			margin-left: 7px
		&--number
			text-align: center
			color: #ff8113
			font-size: 16px
			padding: 8px
			font-weight: 600
			&-black
				color: #222222
	.ljit-bet-form-footer
		&__input-password-block
			text-align: center
			padding: 24px 18px 24px 27px
			border-top: 1px solid #e8e8e8
		.ljit-input
			width: 219px
