.ljit-react-mobile-navigation-tab-app
	.tabbar__button
		line-height: 15px
	:checked + .tabbar__button
		color: #fe900a

	&__container
		display: flex
		flex-direction: column
		align-items: center
		#text
			font-size: 10px

	&__label
		font-size: 12px
