.ljit-odds-special
	>.page-block__content
		padding: 32px 0;
	.ljit-menu
		height: 100%
	.odds-special-content
		padding 0 20px
		background-color: #fff
		.page-block__content
			padding: 0;
	.header-button-bar
		.ljit-input-search
			display: inline-block
			width: 272px
			margin-left: 16px

.multiperiod-change-level-data
	color: #1890ff
	height: 22px
	text-overflow: ellipsis
	white-space: nowrap
	overflow: hidden
	&__tooltip
		.ant-tooltip-inner
			padding: 8px
			width: 100px
