.general-xinyong-setting

	.header-button-bar
		.ljit-btn
			width: 80px

	&__info
		.page-block__content

			.header-button-bar
				padding: 0 14px 12px 24px
				margin-left: 90px

				.header-button-bar__item
					display: flex

				.ljit-label
					display: flex
					margin-bottom: 0
					margin-right: 24px

				.ljit-form-select
					width: 160px

			.ljit-tabs
				min-height: 70vh

			.ant-tabs-bar
				margin-top: 50px

			.ant-tabs-content
				padding: 40px 24px 0 27px

	&__edit
		> .ljit-btn
			margin-bottom: 24px
		.general-xinyong-setting__slot-block
			margin-left: 100px
			margin-right: 80px

	&__slot
		display: flex
		border: 1px solid #e9e9e9
		padding: 11px 19px 10px 10px
		justify-content: space-between
		line-height: 27px
		min-width: 220px
		width: calc(25% - 10px)

		.ljit-code-ball
			width: 61px
			.ljit-tag-shape--rectangle
				background-color: #e4e4e4
			> div:hover
				opacity: 1
				cursor: default

		.ljit-status-tag
			width: 79px

		.ljit-tag-shape--rectangle
			height: 27px
			line-height: 27px

	&__slot-block
		display: flex
		flex-wrap: wrap
		margin-bottom: 12px
		color: rgba(0, 0, 0, 0.85)

		> div
			margin-right: 10px
			margin-bottom: 12px

			&:first-child
				width: 100%

	&__message
		.ant-modal-close
			display: none
