.quick-input-block
	&__input-number
		width: 104px
		input
			text-align: center
	&__radio-group.ant-radio-group
		margin-left: 20px;
		& + .remind-text
			margin-left: 0
			margin-top: 4px
			opacity: 1
			color: #646464
		.ljit-radio-group__option--button
			&,
			&:hover,
			&:focus,
			&:active
				color: #c0c0c0
				width: 88px
				min-width: 88px
				margin: 0 8px
				border-radius: 4px
				border: 1px solid #c0c0c0
				font-size: 16px
				font-weight: 600
			&::before
				display: none
