.ljit-standard-page
	display: flex
	position: relative
	margin-bottom: 40px
	.ljit-toggle
		position: absolute
		z-index: 2
		top: 8px
		left: 0
		font-size: 12px
		line-height: 20px
	.ljit-standard
		&__plan-tabs
			.ant-tabs-tab
				margin-right: 0
				padding: 8px 12px
			.ant-tabs-bar
				padding-left: 84px
				margin-bottom: -4px
	.ljit-betting-block
		width: 100%
	.ljit-text-input
		.ljit-text-input__button
			&:hover,
			&:focus,
			&:active
				color: #ff8113;
				background-color: #fff;
				border-color: #ff8113
