.ljit-collapse-sample
	display: flex
	justify-content: space-around

	.ljit-collapse
		width: 49%
		height: 30vh
		overflow: scroll

	&__content
		height: 60px

	&__custom
		background: transparent

		.ant-collapse-item
			margin: 10px
			background: #fff

		.ant-collapse-header
			background: #d3f3f3
