.betting-records-page
	display: flex
	flex-direction: column
	height: 100%
	overflow: scroll

	.ljit-dropdown-menu-bar__menu
		white-space: nowrap

	&__content
		height: calc(100% - 48px)
		overflow: scroll
		padding-top: 10px
