.system-setting-administrator
	.ljit-table
		margin-top: 24px
	.ljit-input-search
		width: 272px

.admin-form-modal
	input[readonly]
		background-color: #efefef

	.ljit-radio-group__option--radio
		+ .ljit-radio-group__option--radio
			margin-left: 40px
	.ljit-input,
	.ljit-form-select,
	.ljit-input-textarea
		width: 368px

.system-setting-admin-modify-password-modal
	.ljit-form-label
		display: flex
		.ljit-input
			width: 179px
