.ljit-collapse

	&__icon-right
		> .ljit-collapse__panel
			> .ant-collapse-header
				padding-left: 16px
				padding-right: 40px

				> .ant-collapse-arrow
					margin: 0
					right: 16px
					left: auto
