.team-user-status-management-modal

	.ant-modal-close-x
		display: none

	.ljit-table
		border-bottom: 1px solid #e8e8e8

		&:nth-child(2)
			margin-top: 62px

			td
				height: 73px

		td
			height: 77px

	.remind-text
		font-size: 14px
		margin-bottom: 16px

	.ant-modal-footer
		> div
			> button:last-child
				display: none
