.mobile-drawing-count-down-block
	background-color: #fff
	display: flex
	align-items: center
	justify-content: space-between
	padding: 4px 12px
	border-bottom: 1px solid rgb(240, 240, 240)
	> div
		display: flex
		align-items: center
		&:first-child
			> p
				font-size: 12px
				width: 26px
				margin-bottom: 0
				margin-right: 19px
			.ant-statistic-content
				font-size: 16px

		&:last-child
			.ljit-btn
				height: 28px
				padding: 0px 8px
				margin-right: 12px
				span
					line-height: 28px
