.hierarchical-management
	.ljit-table
		margin-top: 24px
	.special-rule-setting-form
		.ljit-form-label, .ljit-label
			display: flex
			margin-bottom: 0
		.ljit-table
			width: 392px
			margin-top: 0
			margin-bottom: 50px
		.ljit-checkbox-group
			line-height: 40px
			width: 392px
		.ljit-input-textarea
			width: 329px
		.ant-checkbox-wrapper
			margin-left: 0
			margin-right: 20px
		.ljit-form-button-row
			margin-top: 80px

	.management-auto-page
		&__toolbar
			padding: 0 12px
			margin-bottom: 24px

		&__block
			padding: 24px 0 74px 0

			> .page-block__content
				padding: 0
				> .ljit-layout
					min-height: 100%
		&__sidemenu
			height: 100%

		&__content
			padding 0px 40px
			background #FFF

		.auto-page-content
			&__title
				font-size: 20px
				font-weight: 500
				line-height: 1.4
				color: rgba(0,0,0,.85)

			> .ljit-table
				margin-top: 20px

			&__form-wrapper
				margin-top: 20px

				.ljit-form-label
					> .ant-form-item-label
						width: auto

	.member-list
		&__toolbar
			margin-bottom: 24px

		&__title-wrapper
			margin-bottom: 20px

		&__search-form
			margin-bottom: 32px

		&__table
			margin-top: 0

	.member-list-search-form
		&__form-item
			display flex
			margin 0px

			&--date
				padding-left: 14px

		&__input
			min-width: 264px

		&__tool-column
			padding-left: 34px

		&__btn-wrapper
			padding: 4px 0px

			> button + button
				margin-left: 16px

	&-log
		.ljit-collapsable-form-row
			margin-bottom: 20px

		.ljit-daterange-picker
			width: 100%

		&__reason-options
			position: relative

			.ljit-checkbox-group
				border-top: 1px solid #f0f2f5
				display: flex
				position: absolute
				left: 25%
				top: 35px
				padding-top: 5px

			.ljit-checkbox-group__option
				width: 100%
				white-space: nowrap

		&__edit-level-modal
			.ant-modal-body
				padding: 25px 174px 8px
			.ljit-form-select
				width: 155px

.special-level-editing-modal
	&__form-item
		padding-left: 35px
		margin-bottom: 12px

	&__radio-group
		> .ljit-radio + .ljit-radio
			margin-left: 23px

.normal-level-editing-modal
	.ant-modal-body
		padding-right: 156px
		padding-left: 125px
		.ljit-form
			.ant-form-item
				display: flex
				margin-bottom: 12px
				> div
					&:first-child
						width: 95px
					&:last-child
						flex: 1
		.ljit-input-number,
		.ljit-date-picker
			width: 100%
.search-member-form
	.ljit-form
		margin-top: 27px
		.ljit-form-label
			display: inline-flex
			margin-right: 24px
			.ant-form-item-label
				height: 32px
				line-height: 32px
				margin-right: 8px
				.ljit-input
					width: 228px
			.ant-form-item-control
				line-height: 32px
.modify-member-form
	.ljit-form
		margin-top: 24px
		.ljit-label,
		.ljit-form-label
			display: flex
			margin-bottom: 6px

		.ant-form-item-control
			width: 155px
			.ljit-radio-group__option--radio+.ljit-radio-group__option--radio
				margin: 0
	&__general-level-form-item
		display: flex
		> div
			&:first-child
				margin-right: 57px
	&__button
		text-align: right
		button
			width: 64px



