.ljit-label-selector
	display: flex
	align-items: center
	margin-bottom: 0
	.ant-form-item-label
		flex: none
		align-self: flex-start
	label
		color: #8e8e8e
	&__item
		margin: 0 2px
		text-align: center
		.ant-tag
			font-size: 14px
			color: #646464
			background: transparent
		&--active
			.ant-tag
				color: #ff9022
			&-border
				.ant-tag
					border: 1px solid #ff9022
		&--vertical
			display block
