.header-button-bar
	display: flex
	align-items: center
	&__pool
		display: flex;
		align-items: center
		flex: 1
		&:nth-child(1)
			justify-content: flex-start;
		&:nth-child(2)
			justify-content: flex-end;
		&:nth-child(1)&--empty
			flex: 0
		&:nth-child(2)&--empty
			flex: 0

	&__item + &__item
		margin-left: 16px;
