.ljit-scroll-selector
	display: flex
	padding: 8px 12px
	background-color: rgb(247, 247, 246)
	width: 100%
	overflow: scroll
	&__option
		font-size: 12px
		padding: 3px 6px
		background-color: transparent
		color: rgb(79, 79, 79)
		border-radius: 20px
		flex-shrink: 0
		font-weight: 600
		cursor: pointer

		&--active
			background-color: rgb(255, 104, 19)
			color: #fff
