.mobile-drawing-code-ball-block
	background-color: #fff
	display: flex
	align-items: center
	justify-content: space-between
	padding: 0px 12px
	height: 60px
	> div
		display: flex
		align-items: center
		&:first-child
			> div:first-child
				font-size: 12px
				width: 62px
				margin-right: 8px
				text-align: center
				div
					width: 36px
					display: inline-block
					margin-bottom: 0
					font-size: 14px
