.team-recharge-withdrawal
	padding: 20px 12px 24px 12px

	.ljit-form
		margin-bottom: 6px

		> div
			display: flex
			align-items: center
			margin-bottom: 17px
			margin-left: 3px

		.ant-form-item-control,
		.ant-form-item-label,
		.ant-input,
		.ant-select-selection,
		.ant-select-selection__rendered,
		.ant-calendar-range-picker-input,
		.ant-btn
			line-height: 28px
			height: 28px
			padding-top: 0
			padding-bottom: 0

		.ljit-form-label
			display: flex
			margin-right: 15px
			margin-bottom: 0px

			.ljit-input,
			.ljit-form-select
				width: 104px

		.ljit-btn
			width: 68px
			font-weight: 600
			font-size: 16px
