.ljit-text-input
	background-color: #fff
	width: 900px
	min-height: 304px
	box-sizing: border-box
	padding: 16px 20px
	&__button
		color: #646464 
		background-color: #e4e4e4
		width: 72px
		font-size:12px
		padding: 0
		height: 24px
		margin-right: 8px
	&__button-group
		margin-bottom: 16px
