.ljit-drawing-counting-down-card
	display inline-block
	.ant-statistic-title
		margin-bottom:0
		font-size: 12px

	.ant-statistic-content
		line-height: 28px
		&-value,
		&-suffix
			font-size: 20px
			color:#646464
		
		&-prefix
			font-size: 16px
			color:#646464

.orange
	.ant-statistic-content
		&-value
		&-suffix
			color: #ff8113

.blue
	.ant-statistic-content
		&-value
		&-suffix
			color: #4285f4

.black 
	.ant-statistic-content
		&-value
		&-suffix
			color: #646464