.page-block.move-search
	& .page-block__content
		padding-bottom: 40px

.move-table, .upper-table
	margin-top 24px

.move-form-item
	display flex
	margin 0px

.move-form-row
	margin-top 30px

.move-upper
	.ljit-table .ant-table-pagination .ant-pagination-total-text
		display: none
	.ant-pagination.mini .ant-pagination-item
		margin-left: 4px

		&:not(.ant-pagination-item-active)
			border: solid 1px #d9d9d9
			&:hover
				border: solid 1px #1890ff

	.ant-pagination.mini
		.ant-pagination-prev,
		.ant-pagination-next
			border: solid 1px #d9d9d9
			margin-left: 4px
