.manual-withdrawal-multi-add
	&__back-button
		margin-bottom: 24px
	&__header-button-bar
		margin-bottom: 32px
	&__transfer-out-remark-input
		width: 349px
	&__submit-add-button
		width: 98px
	&__label-content
		margin-bottom: 32px
		display: flex
	&__input-dynamic-table
		td
			> div,
			> span
				width: 100%
