.account-pay-personal-searchbar__inputSearch
	float: right
	width: 272px
	border-radius: 4px
	background-color: #fff

.account-pay-personal-searchbar__btn_add
	margin-right: 12px
	border-radius: 3px
	background-color: #1890ff

.account-pay-modal
	&__item
		&--detail
			margin-left: 34px

		&--confirm
			padding-bottom 24px

	&__textarea
		&--detail
			margin-left: 65px
			margin-bottom: 25px
			width: 250px

	&__label-copy
		width: 30px
		position: absolute
		left: 175px

	&__subtitle
		color: rgba(0, 0, 0, .3)
		padding-left: 0
		list-style: none
		display: inline-flex
		margin-left: 8px
		margin-bottom: 0

		&,
		& + span
			font-weight: normal
			font-size: 14px

		li
			&:last-child
				color: #000

			&:not(:last-child)::after
				content: '>'
				margin: 0 4px

	&__title
		color: #000
		font-size: 16px
		font-weight: 600
		margin-bottom: 15px

	.ant-modal-header
		padding: 12px 20px

	.ant-modal-body
		padding: 14px 24px

	.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th
		padding: 16px 13px

.account-pay
	&__statistics_padding
		padding-top: 32px

	&__card_shadow
		border-radius: 2px
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15)

.time-setting__label_flex
	display: flex

.card-box-shadow
	border-radius: 2px
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .15)
	background-color: #fff

.account-pay-search-form
	&__item
		display flex

		.ant-form-item-label
			width: 70px

	&__status-checkbox
		width: 800px

		.ant-form-item-label
			width: 106px
			top: -38px
			position: relative

		.ljit-checkbox
			left: 70px
			position: relative
			margin-bottom: 8px

		.ljit-checkbox-group
			border-top: 1px solid #e8e8e8
			padding-top: 5px

		.ljit-checkbox-group__option
			margin: 0 2px 5px

.debit-control
	&__page-block
		> .page-block__content
			padding: 16px 0 50px

	&__layout,
	&__content
		background-color: transparent

	&__content
		padding: 0 20px

	&__menu
		height: 100%

.account-pay-information
	padding: 0 26px 22px 10px

	.ljit-label
		display: flex
		margin-bottom: -5px

	.ant-form-item-control-wrapper
		flex: 1

	&__title + .ljit-row
		margin-top: -10px

	&--has-copy .ant-form-item-children
		width: 100%
		display: inline-block
		position: relative

	&__label-copy
		position: absolute
		right: 40px

	&__item--reasons.ljit-label
		display: block

		.ant-form-item-label
			float: left
			line-height: 20px
			margin-top: 10px

		.ant-form-item-control-wrapper
			line-height: 20px

		.ant-form-item-control
			line-height: 25px
			margin-top: 7px

.account-pay-table
	margin-bottom: 30px

	.entertainment-amount
		color: #1890ff

	.ant-table-small > .ant-table-content .ant-table-row:last-child td
		border-bottom: 1px solid #e8e8e8

	&__tooltip
		.ant-tooltip-inner
			padding: 7px 14px 10px 8px

		span
			margin-left: 20px

.account-pay-timeline
	padding: 0 30px 0 20px
	border-right: 2px solid #e8e8e8

	.ljit-time-line
		padding-top: 6px

	.ljit-time-line-item
		padding-bottom: 5px

		&__item-content
			padding-bottom: 16px

.account-pay-note
	padding-left: 30px

	.ljit-form
		margin-top: -6px

	.ljit-form-label
		display: flex
		margin-bottom: 8px

	.ant-form-item-label
		width: 85px

	.ant-form-item-control-wrapper
		width: 310px

.ljit-form-select__option
	font-size: 12px
