.multiperiod-betting-page
	.onback-button
		margin-bottom 24px

	.multiperiod-betting
		&__edit-block
			.page-block__content
				padding-left 60px

	.betting-limit-form
		&__button-wrapper
			float right

		&__button
			width 98px

		&__button + .betting-limit-form__button
			margin-left 16px

		&__form-item
			display flex

		&__table-title
			clear both
			opacity 0.85
			font-size 16px
			font-weight 500
			line-height 1.5
			color #000000
			margin 24px 0px

		&__table-form
			max-width 927px

		&__table-form-item
			justify-content center
			margin-bottom 0px

		&__static-text
			line-height 40px
			width 17px

		&__separator
			line-height 40px
			margin 0px 18px 0px 29px
			width 32px
			height 40px

	.ant-table-small > .ant-table-content
		> .ant-table-body > table > .ant-table-tbody > tr > td
			padding: 15px

		.ant-table-row:last-child td
			border-bottom: 1px solid #e8e8e8

	.ant-table-pagination.ant-pagination
		margin-top: 24px

	.multiperiod-change-level-data
		width: 110px

.multiperiod-change-level-data__tooltip.tooltip--betting
	.ant-tooltip-inner
		width: 160px
