.mobile-confirm-betting-drawer-sample

	.ljit-mobile-confirm-betting-drawer__content
		> div
			color: rgb(138, 138, 143)
			padding: 14px 17px
			border-bottom: 1px solid rgb(240, 240, 240)

			> span
				color: rgb(254, 105, 19)

	.ljit-form-select
		width: 100px
		margin-left: 8px

