.ljit-modal.page-modal.edit-element-modal
	& .user-detail-level-edit
		&__form-item
			padding-left: 174px
			padding-bottom: 10px
			.ant-form-item-control-wrapper,
			.user-detail-level-edit__select
					width: 163px

			&.date-picker
				padding-left: 160px
				margin-top: 3px

			.ant-form-item-label
				.ant-form-item-required:before
					content: ''

		&__form-label
			padding-left: 178px
			display: flex
			margin-bottom: 3px

			.ant-form-item-control-wrapper
				color: rgba(0, 0, 0, 0.85)

		&__select
			width: 155px
