.system-setting-global-menu-wrapper

	.page-block__content
		padding 24px 0px

	.system-setting-global-layout
		min-height 0px

	.system-setting-global-menu
		height 100%

	.member-menu-content
		min-height 0px
		padding 0px 32px 0px 40px
		background #FFF

	.page-block__title
		margin-bottom 40px

	// period-form
	.period-form-item
		height 75px
		margin 24px 0px

	.period-times-radio
		display flex

		&-form-item
			display flex
			margin 0px 0px 0px 22px

	.period-table

		td
			padding 0px

		.table-form-item
			margin-bottom 0px
