.ljit-countdown-list-item
	padding: 16px 10px

	.ljit-list-item__title
		font-size: 22px
		font-weight: 500
		color: #7f7f7f
		margin-bottom: 0
		line-height: 30px

	.ljit-countdown
		.ant-statistic-content-value
			font-size: 16px
			font-weight: 500
			color: #b1b1b1
