$extra-color = rgba(0,0,0,.45)

.ljit-form-label
	&--no-margin
		margin-bottom: 0

	.ant-form-explain,
	.ant-form-extra
		padding-top: 0
		margin-top: 14px
		font-size: 12px
		line-height: 1.67

	.ant-form-item-control:not(.has-error)
		.ant-form-explain
			color: $extra-color
	.ant-form-extra
		color: $extra-color
