.ljit-countdown
	&--size--small
		.ant-statistic-title
			font-size: 12px
		.ant-statistic-content
			font-size: 20px

	&--size--mediun

	&--size--large
		.ant-statistic-title
			font-size: 16px
		.ant-statistic-content
			font-size: 28px