.external-game-rules-page

	.edit-page
		&__onback-button
			margin-bottom 24px

	.table-title-bar
		display flex
		margin-bottom 20px

		.page-block__title
			line-height 32px

		&__button
			width 98px
			margin-left 16px

	.info-table
		max-width 927px
		margin-bottom 44px
