.code-ball-button-sample
	.ljit-code-ball-button--circle
		display inline-block
		margin-right 10px
	.ljit-code-ball-button--round
		display inline-block
		.ljit-code-ball--round
			.ljit-tag
				color: #555555
				background-color: #f4f5f8
	&--rectangle
		.ljit-code-ball--rectangle
			.ljit-tag
				height: 40px