
.manual-withdrawal
	&__page-block
		>.page-block__content
			padding: 26px 0 32px
		.ljit-layout-content
			background-color: #fff
			padding: 0 38px 0 76px
		.ljit-menu
			height: 100%
			.ljit-menu__item
				margin: 0
		.ljit-divider
			margin-top: 69px
		.page-block__header
			border: none
			padding: 20px 33px 0
		.ljit-form-label
			display: flex
		.ant-form-item-label
			width: 5em
		.ant-form-item-control-wrapper
			flex-grow: 1

	&__page-sub-block
		.page-block__header
			padding: 0px
		.page-block__content
			padding: 24px 0px 0px

	&-search-results
		&__title
			font-size: 16px
			font-weight: 500
			margin: -16px 0px 14px
		&__table
			.ant-table > .ant-table-content .ant-table-row td
				border-bottom: 1px solid #e8e8e8;
		&--add
			margin-top: 24px

	&-search
		&__add-account-input
			.ant-form-item-label
				width: auto
			.ant-form-item-control-wrapper
				flex-grow: 1

		&__add-form-input
			width: 264px
			&--transfer-out
				width: 220px
			&--transfer-in
				width: 220px

		&__form-input
			width: 100%

		&__form-item
			margin-bottom: 16px

		&__add-form-item
			margin-right: 24px
			&--transfer-in
				margin-left: 30px

		&__button-group
			line-height: 40px
			& button + button
				margin-left: 16px

		&__search-button
			width: 64px

	&__add-modal
		.manual-withdrawal-confirm-transaction
			&__form-item
				margin-bottom: 12px
			&__form-input
				width: 80%
