$TRANSPARENT = transparent;
$WHITE = white;
$BLACK = black;
$LIGHT_GEAY_1 = #F5F5F5;
$LIGHT_GRAY_2 = #D9D9D9;
$LIGHT_ORANGE_1 = #FF9022;
$LIGHT_ORANGE_2 = #FF8113;
$LIGHT_ORANGE_3 = #FFEbDB;
$LIGHT_ORANGE_4 = #FF8D11;
$LIGHT_ORANGE_GRADIENT_1 = linear-gradient(to right, #FF7147, #FF9022);

$SHADOW_ORANGE_1 = rgba(255, 129, 19, 0.2)

// TODO add blue color
$LIGHT_BLUE_1 = #19C5CC;
$LIGHT_BLUE_2 = rgb(176, 226, 228);
$LIGHT_BLUE_GRADIENT_1 = linear-gradient(to right, #409DB9, #19C5CC);

$GREY-1 = #646464
