.lottery-mega-menu
	background: #fff
	display: inline-flex
	padding: 18px 0px 26px 0px
	border-radius: 8px
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.42)
	border: solid 1px #e0e0e0
	margin-top: 14px

	&__list
		padding: 0 10px
		text-align: center
		+ .lottery-mega-menu__list
			border-left: 1px solid #e3e3e3

		&-title
			font-weight: 600
			font-size: 16px
			margin-bottom: 10px
			display: flex
			align-items: center
			color: #646464

		&-content
			padding-bottom: 34px
			display: flex
			flex-direction: column

			.ljit-clickable-tag
				margin-bottom: 8px
				.ljit-tag
					padding: 2px 11px
					border: 1px solid #e3e3e3
					height: 24px
					font-weight: 500


