.ljit-upload-input-button
	&__input
		display: inline-block
		vertical-align: middle
		width: 140px

	&__button
		display: inline-block
		vertical-align: middle

	&__input + &__button
		margin-left: 16px
