.lottery-dashboard
	&__title
		font-size 26px
		color #000000
	&__submenu
		margin 10px 0 10px 0
		&--title
			font-size 24px
			color #696969
		&--sub
			font-size 16px
			color #a9a9a9
			float right
			padding-right 15px
