.pop-up-setting
	.setting-from-block
		padding-left: 15%
	.suffix-text
		position: absolute
		line-height: 40px
		top: 0
		left: calc(37.5% + 124px)
	.ljit-table
		margin-top: 15px
		.ljit-table-ellipsis-text
			width: 300px
		.ljit-table-ellipsis-text__text
			width: 300px
		th
			white-space: nowrap
	.ljit-checkbox-group
		line-height: 40px
		width: 435px
		.ljit-checkbox-group__option
			margin-left: 12px
	.ljit-table-ellipsis-text__tooltips--top
		bottom: calc(100% + 12px)
		&::before
			content: ''
			position: absolute
			border: 12px solid transparent
			border-top-color: #cfcfcf
			left: calc(10% - 12px)
			top: 100%
		&::after
			content: ''
			position: absolute
			border: 10px solid transparent
			border-top-color: #fff
			left: calc(10% - 10px)
			top: 100%
