.themePlainTabs
	&:global.plain-tabs.ljit-tabs
			> .ant-tabs-bar
				> .ant-tabs-nav-container
					> .ant-tabs-nav-wrap
						> .ant-tabs-nav-scroll
							> .ant-tabs-nav
								> div
									> .ant-tabs-tab
										color $THEME-PLAIN-Tabs-COLOR
										&:active,
										&:hover
											color $THEME-PLAIN-Tabs-HOVER-COLOR
									> .ant-tabs-tab-active
										color $THEME-PLAIN-Tabs-ACTIVE-COLOR


.themeXinYong :global
	.ljit-xin-yong-betting-group
			.ljit-xin-yong-betting-group-row
				.ljit-xin-yong-betting-card
					.ljit-xin-yong-betting-card__title
						background $THEME-XIN-YONG-BETTING-CARD-TITLE
