.drawing-info-card-code-ball-mark-six
	display: flex
	align-items: center

	> div
		margin-right: 8px

	.ljit-code-ball
		font-weight: 600
	.code-ball-mark-six
		&--red
			.ljit-tag
				background-color: #ff594d
		&--blue
			.ljit-tag
				background-color: #00a4fc
		&--green
			.ljit-tag
				background-color: #00d2b7